<%
  var title = "特定商取引法に基づく表記 | AI Academy";
  var type = "article";
  var page = { name:'' };
  var root = config.root;

 %>
<% include ../template/_head %>
<div class="p-other">
  <dl class="p-other__block">
    <dt class="p-other__mainTitle c-font-weight--700">特定商取引法に基づく表記</dt>
    <dd class="p-other__underline"></dd>
    <dd>
      <ol>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">サービス名称</dt>
            <dd class="p-other__contentsText">AI Academy (エーアイ アカデミー)</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">事業者名称</dt>
            <dd class="p-other__contentsText">CyberBrain, Inc.<br>サイバーブレイン株式会社</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">代表者名称</dt>
            <dd class="p-other__contentsText">谷一徳</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">所在地</dt>
            <dd class="p-other__contentsText">東京都世田谷区世田谷世田谷1-41-2</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">電話番号</dt>
            <dd class="p-other__contentsText">090-6987-0269</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">販売価格</dt>
            <dd class="p-other__contentsText">料金ページに記載がございます。表示価格は税抜き。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">代金のお支払方法</dt>
            <dd class="p-other__contentsText">銀行口座へのお振込：受講開始前となります。（振込み手数料はご負担ください。）</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">レッスン品質</dt>
            <dd class="p-other__contentsText">インターネット回線の事情等により通信状況が不十分な場合については、こちらをご覧ください。（利用規約第14条、第18条）</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">レッスン受講回数</dt>
            <dd class="p-other__contentsText">各コースは月15回となります。ご登録者数に合わせて講師数も用意しておりますが、ご予約は先着順となり時間帯によってはご予約できない場合もございます。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">商品について</dt>
            <dd class="p-other__contentsText">レッスンは全てオンラインで行います。また、教材は弊社のオリジナル教材を無償配布しておりますが、一部コースでは、別途、市販の参考書購入が必要となります。</dd>
          </dl>
        </li>
      </ol>
    </dd>
  </dl>
</div>
<% include ../template/_footer %>