.u-ffeg--300 {
  font-family: MoskLight300;
  font-weight: 300;
}
.u-ffeg--700 {
  font-family: MoskBold700;
  font-weight: 700;
}
.u-cf:after {
  display: block;
  clear: both;
  content: "";
}
.u-inlineBlock {
  display: inline-block;
}
.u-fwb--pc {
  font-weight: 700;

  @include mq(sp) {
    font-weight: 500;
  }
}
.u-br__sp {
  @include mq(sp) {
    display: none;
  }
}
.u-br__pc {
  display: none;

  @include mq(pc) {
    display: inline;
  }
}
.u-fc-white {
  color: #fff;
}
.u-m0auto--sp {
  @include mq(sp) {
    margin: 0 auto;
  }
}
.u-textAlign__center--sp {
  @include mq(sp) {
    text-align: center;
  }
}
.u-ls {
  letter-spacing: -2px;
}
.u-mlAuto {
  margin: 0 0 0 auto;

  @include mq(pc) {
    margin: 0;
  }
}
.u-flex__rowReverse {
  flex-direction: row-reverse;
}
.u-flex__align__end {
  align-self: flex-end;
}
.u-mb0 {
  margin-bottom: 0;

  @include mq (sp) {
    margin-bottom: 0;
  }
}
.u-ml30 {
  margin-left: 30px;
}
.u-mb21 {
  margin-bottom: 21px;
}
.u-mb20 {
  margin-bottom: 20px;
}
.u-mb7 {
  margin-bottom: 7px;
}
.u-mb5 {
  margin-bottom: 5px;
}
.u-mb30 {
  margin-bottom: 30px;
}