<%
  var title = "利用規約 | AI Academy";
  var type = "article";
  var page = { name:'' };
  var root = config.root;
 %>
<% include ../template/_head %>
<div class="p-other">
  <dl class="p-other__block">
    <dt class="p-other__mainTitle c-font-weight--700">利用規約</dt>
    <dd class="p-other__underline"></dd>
    <dd>
      <p class="p-other__contentsText">この規約（以下「本規約」といいます。）は、サイバーブレイン株式会社（以下「当社」といいます。）が提供するオンラインプログラミングレッスン「AI Academy」の利用に関して、ユーザーに同意していただく必要のある事柄を記載しています。ユーザーが本サービスをご利用になる際には、本規約が適用されます。なお、本規約については、ユーザーが会員登録した時点で同意されたものとさせていただきますので、ご利用の前に必ずお読みください。</p>
      <ol class="p-other__contentsWrap">
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第1条 （総則・適用範囲）</dt>
            <dd class="p-other__contentsText">
              <ol>
                <li>1.本規約は、当社が提供・運営する本サービスの利用に関する基本的な事項を規定します。</li>
                <li>2.本規約は、本サービスの利用に関し、当社及びユーザーに対して適用されます。</li>
                <li>3.当社が、本サービス又は当社ウェブサイト上に本サービスに関する個別規定や追加規定を掲載する場合、又は電子メール等により本サービスに関するルール等を発信する場合、それらは本規約の一部を構成するものとし、個別規定、追加規定又はルール等が本規約と抵触する場合には、当該個別規定、追加規定又はルール等が優先されるものとします。本契約において使用される以下の各用語は各々以下に定める意味を有する。</li>
                <li>4.本サービス又は当社ウェブサイトの提供に際してリンクされた他のウェブサイトその他のサービス（以下、本サービスの提供に際してリンクされた他のウェブサイト、アプリケーションその他のサービスを総称して「外部サービス等」といいます。）については、外部サービス等に定められる利用規約等に従ってご利用ください。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第２条 （定義）</dt>
            <dd class="p-other__contentsText u-mb0">
              <p>本規約において、次の各号に掲げる用語の意義は、当該各号に定めるところによるものとします。</p>
              <ol>
                <li>(1)「本サービス」<br>当社が提供する「人工知能プログラミング学習カリキュラムAIAcademy」という名称のサービス（理由の如何を問わず、その名称または内容が変更された場合の当該変更後のサービスを含みます。）及び関連ソフトウェアをいいます。</li>
                <li>(2)「サービス利用契約」 ユーザーが本サービスを利用するに際し、ユーザーと当社との間に発生する本サービスの利用に関する契約関係をいい、本規約及び本サービスに関して当社が配布、配信又は掲示する文書（以下、本サービスに関して当社が配布、配信又は掲示する文書を「個別利用規約」といいます）等を含みます。</li>
                <li>(3)「ユーザー」 本規約を承認の上、当社とサービス利用契約を締結した法人、団体又は個人をいいます。</li>
                <li>(4)「登録希望者」 本サービスの利用を希望する法人、団体又は個人をいいます。</li>
                <li>(5)「利用登録」 第3条に規定する方法に従って、登録希望者が行う本サービスの利用登録をいいます。</li>
                <li>(6)「登録情報」 登録希望者及びユーザーが利用登録時に登録した当社が定める情報、本サービス利用中に当社が必要と判断して登録を求めた情報及びこれらの情報についてユーザー自身が追加、変更を行った場合の当該情報をいいます。</li>
                <li>(7)「コンテンツ」 ユーザーが本サービスを通じてアクセスすることができる情報（文章、画像、動画、音声、音楽その他のサウンド、イメージ、ソフトウェア、プログラム、コードその他のデータを含みますが、これらに限られません。）をいいます。</li>
                <li>(8)「アカウント」 パスワードと組み合わせて、ユーザーとその他の者とを識別するために用いられる符号をいいます。</li>
                <li>(9)「パスワード」 パスワードと組み合わせて、ユーザーとその他の者とを識別するために用いられる符号をいいます。</li>
                <li>(10)「当社ウェブサイト」 そのドメインが「tech-camp.in」であって、当社が運営する本サービス及び本サービスに関するウェブサイト（理由の如何を問わず、当社のウェブサイトのドメイン又は内容が変更された場合は、当該変更後のドメインを含みます。）をいいます。</li>
                <li>(11)「知的財産権」 著作権、特許権、実用新案権、商標権、意匠権その他の知的財産権（それらの権利を取得し、又はそれらの権利につき登録等を出願する権利を含みます。）をいいます。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第３条 （登録）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>1.登録希望者は、本規約及び本サービスに関する個別利用規約を遵守することに同意し、かつ登録情報を当社の定める方法で当社に提供することにより、当社に対し、本サービスの利用の登録を申請することができます。</li>
                <li>2.登録希望者は、前項に基づく登録の申請に当たり、以下の各号の事由を確認の上、申請しなければならないものとします。 外部サービス「Google」にてアカウントを作成の上、本サービスをレッスン受講目的で登録すること 当社が推奨するバージョンのGoogleが提供する「ハングアウト」をインストールすること 通信環境が当サービスの利用に支障がないことを確認すること レッスンを提供する講師は、当社の社員以外にも業務委託者も含まれること</li>
                <li>3.当社は、当社の基準に従い、登録希望者の登録の可否を判断し、当社からの登録を認める旨の通知により、ユーザーとしての登録が完了したものとします。</li>
                <li>4.前項に定める登録の完了時に、ユーザーと当社との間で、本規約の諸規定に従ったサービス利用契約が成立した上、当社の定める利用料金の支払いが確認できた場合には、ユーザーは本サービスを当社の定める方法に従って利用することができるようになります。</li>
                <li>5.当社は、第１項に基づき登録を申請した者が、以下の各号のいずれかの事由に該当する場合は、登録を拒否することがあります。 当社に提供された登録情報の全部又は一部につき虚偽、誤記又は記載漏れがあった場合 第２項各号に定めた事由を遵守しない場合 当該登録希望者が、本サービス利用に際して、過去にアカウント削除等の本サービス利用停止措置を受けたことがあり又は現在受けている場合 過去に当社に対する代金の支払いを怠っていた場合 未成年者、成年被後見人、被保佐人又は被補助人のいずれかであって、法定代理人、後見人､保佐人又は補助人の同意等を得ていなかった場合 反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。）であるか、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等、反社会的勢力等との何らかの交流若しくは関与を行っていると当社が判断した場合 その他、当社が登録を適当でないと判断した場合</li>
                <li>6.ユーザーは、登録情報の登録にあたっては、真実かつ正確な情報を提供しなければなりません。当社は、ユーザー自身が登録した登録情報を前提として、本サービスを提供いたします。登録情報の内容に虚偽、誤り又は記載漏れがあったことによりユーザーに生じた損害について、当社は一切責任を負いません。</li>
                <li>7.ユーザーは、登録情報に変更があった場合は、１４日以内に、当社の定める方法により、当該変更事項を当社に通知し、当社から要求された資料を提出するものとします。</li>
                <li>8.前項の通知を怠ったことにより当社からの通知が不到達となった場合、当該通知は通常到達すべき時に到達したとみなされるものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第４条 （アカウント及びパスワードの管理）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>1.ユーザーは、自己の責任においてアカウント及びパスワードを管理及び保管するものとし、これを第三者に利用させ、又は貸与、譲渡、名義変更、売買等をしてはならないものとします。当社は、当該アカウント及びパスワードの一致を確認した場合、当該アカウント及びパスワードを保有するものとして登録されたユーザーが本サービスを利用したものとみなします。</li>
                <li>2.アカウント又はパスワードの管理不十分、使用上の過誤、第三者の使用等による損害の責任はユーザーが負うものとし、当社は一切の責任を負いません。</li>
                <li>3.ユーザーは、アカウント又はパスワードが盗用され又は第三者に使用されていることが判明した場合には、直ちにその旨を当社に通知するとともに、当社からの指示に従うものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第５条 （本サービスの利用）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>1.ユーザーは、有効に利用登録されている期間内に限り、本規約の目的の範囲内でかつ本規約に違反しない範囲内で、当社の定める方法に従い、本サービスを利用することができます。</li>
                <li>2.本サービスの提供を受けるために必要なコンピューター、ソフトウェアその他の機器、通信回線その他の通信環境等の準備及び維持は、ユーザーの費用と責任において行うものとします。</li>
                <li>3.本サービスの全部又は一部について、年齢、本人確認の有無、登録情報の有無、その他、当社が必要と判断する条件を満たしたユーザーに限り利用できる場合があるものとし、ユーザーはこれに同意するものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第６条 （利用料金・支払方法）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>1.本サービスにおいて、ユーザーは、料金を支払うことにより、本サービス内のサービスを利用することができます。サービスの利用料金及びその支払方法は、別途当社が定め、本サービス又は当社ウェブサイト上に表示するものとします。</li>
                <li>2.前項に定める利用料金について、ユーザーは以下の方法にて支払う必要があるものとします。 (1) 銀行振込 (2) その他当社が指定する方法</li>
                <li>3.当社は、本条で定める利用料金について、理由の如何を問わず、すでに支払われた利用料金の返還を行わないものとし、ユーザーはこれに予め同意するものとします。</li>
                <li>4.本サービスは、ユーザー本人のアカウントに対してのみ使用が許諾されます。 5.本サービスのコース変更、追加購入などの処理及び手続に関しましては、別途当社が定め、本サービス又は当社ウェブサイト上に表示するものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第７条 （レッスンの受講）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>1.レッスンは、１レッスンを４０分間とします。なお、当社による別段の定めがない限り、当該レッスンの時間いかなる場合も中断されないものとします。</li>
                <li>2.当社は、以下の各号のいずれかに該当する場合、レッスンを欠席したものとみなし、当該レッスンを終了することができるものとし、ユーザーは予めこれに同意するものとします。</li>
                <li>3.ユーザーは、レッスンの受講をキャンセルする場合、当社に対して、レッスン受講日時の２時間前までに本サービス上にて受講キャンセルの手続きを行うものとします。なお、当該受講キャンセルの手続きは、当社が定める方法にて行われるものとし、当社はレッスン受講日時の２時間前以降のキャンセル又は無断での欠席に関しては、レッスンを受講及び消化したものとみなします。 レッスン開始時刻より１０分が経過したにもかかわらず、当社又は当該レッスンを担当する講師（以下「担当講師」といいます。）からの問いかけに応答しない場合 レッスン開始時刻より１０分が経過したにもかかわらず、本サービス上でユーザーが出席していると当社が確認できない場合 その他、当社がレッスンを欠席していると判断した場合</li>
                <li>4.ユーザーは、レッスンの受講をキャンセルする場合、当社に対して、レッスン受講日時の２時間前までに本サービス上にて受講キャンセルの手続きを行うものとします。なお、当該受講キャンセルの手続きは、当社が定める方法にて行われるものとし、当社はレッスン受講日時の1時間前以降のキャンセル又は無断での欠席に関しては、レッスンを受講及び消化したものとみなします。</li>
                <li>5.当社は、ユーザーがレッスンの無断欠席を繰り返し行った場合、当該ユーザーに対して、警告又は改善指示等の措置を行うことができるものとし、同指示等に従わない場合、当社は、ユーザーに対して、第１２条に定める処分等を行うことができるものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第８条 （レッスンの予約）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>1.ユーザーは、レッスン受講日時を、当該レッスン受講日時の1時間前までに予約しなければならないものとします。</li>
                <li>2.ユーザーは、前項に定めるレッスンの予約を予約日から7日先まで行うことができるものとし、受講可能レッスン数の範囲内であれば、レッスン予約数に制限はないものとします。ただし、レッスンのキャンセル又は無断での欠席が多い場合、当社の判断により、レッスン予約数の制限を実施できるものとし、ユーザーは当該予約数の制限措置を受け入れることに予め同意するものとします。</li>
                <li>3.前2項に定めるレッスンの予約は、本サービス上のユーザーの「予約状況」に、当該予約が反映された時点で成立するものとします。</li>
                <li>4.当社は、第1項に定めるレッスンの予約について、担当講師のやむを得ない事由によりレッスンの実施ができない場合、別の講師によるレッスンの実施又は当該レッスンのキャンセルを行うことができるものとし、ユーザーは当該措置に予め同意するものとします。なお、講師の都合により、ユーザーがレッスン受講できなかった場合は、ユーザーのレッスン消化数としてカウントしないものとします。</li>
                <li>5.当社は、年末年始につき当社の定める期間、レッスンを終日休講するものとします。また、メンテナンスなどの理由により、当社の判断で、終日又は一定の時間帯のレッスンを休講することができるものとします。この場合、当社は、事前に本サービス又は当社ウェブサイト上に、休校日・時間帯等を掲示するものとします。また、ユーザーが申し込んだプランの受講期間中に、休講日が含まれる場合であっても、当該受講期間は変更されないものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第９条 （遅延損害金）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>(1)分割支払金のお支払いが遅れた場合は当該金額に対し、各お支払日の翌日からお支払い完了に至るまで、年14.6％で計算された遅延損害金をいただきます。但し、分割支払金については、当該分割支払金の残金全額に対し年6.0％で計算された額を超えないものとします。</li>
                <li>(2)第9条（期限の利益喪失）によりお支払期日前に全額お支払いいただくことになった場合は期限の利益を喪失した日の翌日からお支払い完了に至るまで、残債務の全額に対し年14.6％、分割支払金の残金全額については年6.0％で計算された遅延損害金をいただきます。</li>
                <li>(3)遅延損害金の料率の変更については第9条（分割払いに関する支払方法等）（5）を適用いたします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第１０条 （禁止行為）</dt>
            <dd class="p-other__contentsText u-mb0">
              <p>ユーザーは、本サービス（提携サービスを含みます。以下本条において同様です。）の利用にあたり、自ら又は第三者をして以下の各号のいずれかに該当する行為をしてはなりません。</p>
              <ol>
                <li>1.法令、裁判所の判決、決定若しくは命令、又は法令上拘束力のある行政措置に違反する行為及びこれらを助長する行為又はそのおそれのある行為</li>
                <li>2.当社、講師又は他のユーザーその他の第三者に対する詐欺又は脅迫行為</li>
                <li>3.公序良俗に反し又は善良な風俗を害するおそれのある行為</li>
                <li>4.当社、講師又は他のユーザーその他の第三者の知的財産権、肖像権、プライバシー、名誉、その他の権利又は利益を侵害する行為又はそのおそれのある行為</li>
                <li>5.本サービスの利用料金の支払いを遅延又は怠る行為 講師と直接契約を結び、本サービス外でレッスンを受講する行為 電子メールの送受信を含め、オンライン、オフラインを問わず、講師と個人的に接触しようとする行為</li>
                <li>6.講師に対する嫌がらせ、不良行為、その他レッスンの進行を妨げる等の一切のハラスメント行為</li>
                <li>7.講師の雇用条件、住所又はインターネット回線など、当社が開示していない機密情報を詮索する一切の行為</li>
                <li>8.リバースエンジニアリング</li>
                <li>9.本サービスのネットワーク又はシステム等に過度な負荷をかける行為</li>
                <li>10.本サービスに接続しているシステム全般に権限なく不正にアクセスし又は当社設備に蓄積された情報を不正に書き換え若しくは消去する行為その他当社に損害を与える行為</li>
                <li>11.故意に虚偽のデータ等を公開し又は投稿する行為</li>
                <li>12.講師又は他のユーザーの情報の収集を目的とする行為</li>
                <li>13.当社、担当講師又は他のユーザーその他の第三者に成りすます行為</li>
                <li>14.他のユーザーのアカウント又はパスワードを利用する行為</li>
                <li>15.当社が事前に許諾しない本サービス上での宣伝、広告、勧誘、又は営業行為</li>
                <li>16.反社会的勢力等への利益供与行為</li>
                <li>17.面識のない異性との出会いを目的とした行為</li>
                <li>18.本規約及び個別利用規約並びに本サービスの趣旨・目的に反する行為</li>
                <li>19.前各号の行為を直接又は間接に惹起し、又は容易にする行為</li>
                <li>20.その他、当社が不適切と判断する行為</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第１１条 （ユーザーの退会）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>1.ユーザーは、当社が定める方法により本サービスを退会することができます。本サービスを退会したユーザーは、退会の時点から本サービスを利用することができなくなるものとします。</li>
                <li>2.退会時に当社に対する債務が残存している場合には、ユーザーは、当該債務の一切について当然に期限の利益を失い、直ちに当社に対して全ての債務を支払わなければなりません。</li>
                <li>3.ユーザーは、本サービス退会後も、当社及びその他の第三者に対するサービス利用契約上の一切の義務及び債務（損害賠償を含みますが、これに限りません。）を免れるものではありません。</li>
                <li>4.当社は、ユーザーが本サービスを退会した後も、当該ユーザーが当社に提供した情報を保有・利用することができるものとします。</li>
                <li>5.ユーザーが本サービスを退会した場合、当社は、当社の裁量により、当該ユーザーのアカウントを削除することができるものとします。</li>
                <li>6.退会後、再度本サービスの登録を希望する際は、再度登録手続を行う必要があります。ユーザーは再度の登録手続後、退会前のデータが引き継がれないことを予め承諾するものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第１２条 （規約違反の場合の措置等）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>1.当社は、ユーザーが次の各号の一に該当し又は該当するおそれがあると当社が判断した場合には、当社の裁量により、当該ユーザーの登録情報、端末情報等、本サービスの利用の一時停止若しくは制限、又はアカウントの削除をすることができるものとします。 本規約のいずれかの条項に違反した場合 当社に提供された登録情報の全部又は一部につき虚偽の事実があることが判明した場合 支払停止若しくは支払不能となり、又は破産手続開始、民事再生手続開始、会社更生手続開始、特別清算開始若しくはこれらに類する手続の開始の申立てがあった場合 ユーザーが死亡し又は後見開始、保佐開始若しくは補助開始の審判を受けた場合 当社からの問合せその他の回答を求める連絡に対して３０日間以上応答がない場合 本サービスの利用に際して、過去に本サービス利用停止又はアカウント削除等の措置を受けたことがあり又は現在受けている場合 未成年者、成年被後見人、被保佐人又は被補助人のいずれかであって、法定代理人、後見人､保佐人又は補助人の同意等を得ていなかった場合 反社会的勢力等であるか、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等、反社会的勢力等との何らかの交流若しくは関与を行っていると当社が判断した場合 本サービスの運営・保守管理上必要であると当社が判断した場合 その他前各号に類する事由があると当社が判断した場合</li>
                <li>2.ユーザーは、アカウント削除後も、当社及びその他の第三者に対するサービス利用契約上の一切の義務及び債務（損害賠償債務を含みますが、これに限りません。）を免れるものではありません。</li>
                <li>3.当社は、本条に基づき当社が行った行為によりユーザーに生じた損害について一切の責任を負わず、ユーザーのアカウント削除後も、当該ユーザーが当社に提供した情報を保有・利用することができるものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第１３条 （本サービスの変更、追加、廃止及び中断等）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>1.当社は、ユーザーに事前の通知をすることなく、本サービスの内容の全部又は一部を変更又は追加することができるものとします。</li>
                <li>2.当社は、当社の判断により本サービスの全部又は一部の提供・運営を終了することができるものとします。当社は、当社の判断により本サービスの全部又は一部の提供・運営を終了する場合、当社が適当と判断する方法でユーザーにその旨通知いたします。ただし、緊急の場合はユーザーへの通知を行わない場合があります。</li>
                <li>3.当社は、以下各号の事由が生じた場合には、ユーザーに事前に通知することなく、本サービスの一部又は全部を一時的に中断することができるものとします。 本サービス用のハード・ソフト・通信機器設備等に関わるメンテナンスや修理を定期的又は緊急に行う場合 アクセス過多、その他予期せぬ要因でシステムに負荷が集中した場合 ユーザーのセキュリティを確保する必要が生じた場合 電気通信事業者の役務が提供されない場合 天災等の不可抗力により本サービスの提供が困難な場合 火災、停電、その他の不慮の事故又は戦争、紛争、動乱、暴動、労働争議等により本サービスの提供が困難な場合 法令又はこれらに基づく措置により本サービスの運営が不能となった場合 その他前各号に準じ当社が必要と判断した場合</li>
                <li>4.当社は、本条に基づき当社が行った措置によりユーザーに生じた損害について一切の責任を負いません。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第１４条 （権利の帰属）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>1.本サービス及び本サービスにおいて当社が提供するコンテンツの情報等に関する一切の知的財産権は、当社又は当社にライセンスを許諾している者に帰属し、本規約に基づく本サービスのいかなる使用許諾も、当社又は当社にライセンスを許諾している者の知的財産権の使用許諾を意味するものではありません。</li>
                <li>2.ユーザーは、当社の許諾を得ることなく、当社が提供する情報等の翻案、編集及び改変等を行い、これを第三者に使用させ又は公開することはできず、いかなる理由によっても当社又は当社にライセンスを許諾している者の知的財産権を侵害するおそれのある行為（逆アセンブル、逆コンパイル、リバースエンジニアリングを含みますが、これに限定されません。）をしてはなりません｡</li>
                <li>3.本サービス上、商標、ロゴ及びサービスマーク等（以下総称して「商標等」といいます。）が表示される場合がありますが、当社は、ユーザーその他の第三者に対し何ら商標等を譲渡し、又はその使用を許諾するものではありません。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第１５条 （ユーザーに関する情報の収集、解析及び取扱い）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>1.当社による登録情報、端末情報等その他ユーザーに関する情報の取扱いについては、別途定めるプライバシーポリシーによるものとし、ユーザーは、プライバシーポリシーに従って当社が当該情報を取り扱うことについて同意するものとします。</li>
                <li>2.当社は、ユーザーが当社に提供した登録情報、端末情報等及びその他の情報及びデータ等を、当社の裁量で、本サービスの提供及び運用、サービス内容の改良及び向上等の目的のために利用し、又は個人を特定できない形での統計的な情報として公開することができるものとし、ユーザーはこれに同意するものとします。</li>
                <li>3.当社は、本サービスの利用状況を把握するため（リターゲティング広告配信の目的を含みます。）、Identification for Advertisers（以下「IDFA」といいます。）、AdvertisingID 、Cookie又は当社が指定する情報収集モジュールを利用して、本サービスの利用情報（端末情報等及びアプリ起動ログ、ブラウザ閲覧ログを含みますが、これらに限られません。）を収集します（なお、IDFA又はCookie及び解析ツール等数種を併用する場合、及び解析ツール等がIDFA、AdvertisingID又はCookieを使用する場合があります。）。IDFA及びこれら情報収集モジュールについては、各提供者の利用規約及びプライバシーポリシー等をご参照ください。当社は、IDFA、AdvertisingID 、Cookie、及び情報収集モジュール利用により生じた損害について責任を負いかねます。</li>
                <li>4.当社は、ユーザーが提携サービスの利用を希望するときは、ユーザーから収集した登録情報、端末情報等、その他当該ユーザーに関する情報を、当該提携サービスの利用に必要な範囲において、提携パートナーに提供することがあり、ユーザーはこれに同意するものとします。</li>
                <li>5.前項の他、当社は、第２項に定める目的及び提携パートナーによる提携サービスの提供を目的として、本サービスを通じて収集・解析した情報に関する統計資料を提携パートナーその他の第三者に提供することがあり、ユーザーはこれに同意するものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第１６条 （秘密保持）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>1.本規約において「秘密情報」とは、本サービスに関連して、ユーザーが、当社より書面、口頭若しくは記録媒体等により提供若しくは開示されたか、又は知り得た、当社の技術、営業、業務、財務、組織、その他の事項に関する全ての情報を意味します。ただし、以下の各号に該当するものは、秘密情報に該当しないものとします。 当社から提供若しくは開示がなされ又は知得する前に既に保有していたもの 当社からの提供若しくは開示又は知得の前後を問わず、自己の責めに帰せざる事由により公知となったもの 秘密保持義務を負うことなく第三者から適法に取得したもの 秘密情報によることなく単独で開発したもの</li>
                <li>2.ユーザーは、秘密情報を本サービスの利用目的以外の目的で使用してはならず、当社の事前の書面による承諾なしに、第三者に対し秘密情報を提供、開示又は漏洩してはならないものとします。</li>
                <li>3.前項の定めにかかわらず、ユーザーは、法律、裁判所又は政府機関の命令、要求又は要請に基づき、秘密情報を開示することができます。ただし、当該命令、要求又は要請があった場合、速やかにその旨を当社に通知しなければなりません。</li>
                <li>4.ユーザーは、秘密情報を複製、複写、翻案等する場合には、事前に当社の書面による承諾を得るものとし、複製物等の管理については第２項に準じて厳重に行うものとします。</li>
                <li>5.ユーザーは、当社から求められた場合はいつでも、遅滞なく、当社の指示に従い、秘密情報及び秘密情報を記載又は包含した書面その他の記録媒体物並びにその全ての複製物等を返却又は廃棄しなければなりません。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第１７条 （損害賠償）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>1.ユーザーは、本規約に違反することにより、又は本サービスの利用に関連して当社に損害を与えた場合、当社に対しその全ての損害（弁護士等専門家費用及び当社人件費相当額を含みます。）を賠償しなければなりません。</li>
                <li>2.ユーザーによる本サービスの利用に関連して、当社が、他のユーザーその他の第三者から権利侵害その他の理由により何らかの請求を受けた場合、当該ユーザーは、当該請求に基づき当社が当該第三者に支払いを余儀なくされた金額及び当該請求に係る紛争等の解決のために当社が負担した金額（弁護士等専門家費用及び当社人件費相当額を含みます。）を賠償しなければなりません。</li>
                <li>3.当社は、本サービスに関連してユーザーが被った損害について、一切賠償の責任を負いません。なお、消費者契約法の適用その他の理由により、本項その他当社の損害賠償責任を免責する規定にかかわらず当社がユーザーに対して損害賠償責任を負う場合においても、当社の賠償責任の範囲は、当社の責に帰すべき事由により現実に発生した直接かつ通常の損害に限られるものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第１８条 （保証の否認及び免責）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>1.当社は、本サービス、本サービスを通じて提供されるコンテンツ、及び提携サービス等から得られる情報その他本サービスによりユーザーが取得し得る一切の情報が、ユーザーの特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性・完全性を有すること、本サービスの利用がユーザーに適用のある法令又は業界団体の内部規則等に適合すること、及び不具合が生じないことについて、何ら保証するものではありません。</li>
                <li>2.当社は、本サービスを通じて提供されるコンテンツが適法に利用可能であること、Google＋、Facebookその他当社以外が提供するサービス等の利用規約等を遵守していること、第三者の権利を侵害しないこと等について、如何なる保証も行うものではありません。</li>
                <li>3.当社は、本サービスが全ての携帯端末に対応していることを保証するものではなく、また、仮に本サービスの利用開始時に対応していた場合でも、本サービスの利用に供する携帯端末のOSのバージョンアップ等に伴い本サービスの動作に不具合が生じる可能性があることにつき、ユーザーはあらかじめ了承するものとします。当社は、かかる不具合が生じた場合に当社が行うプログラムの修正等により当該不具合が解消されることを保証するものではありません。</li>
                <li>4.ユーザーは、Google＋、Facebook等の利用規約の変更等に伴い、本サービスの一部又は全部の利用が制限される可能性があることをあらかじめ了承するものとします。</li>
                <li>5.当社は、本サービスの提供の中断、停止、終了、利用不能又は変更、本サービスを通じてユーザーが発信した情報の削除又は消失、アカウントの削除又は消失、機器の故障又は損傷、コンテンツ等の情報に起因する損害その他事由の如何を問わず、本サービスに起因又は関連して生じた損害につき、賠償する責任を一切負わないものとします。</li>
                <li>6.当社は、登録情報及び端末情報等を、実績があると当社が判断したクラウド環境のもとで、安全性の高いネットワーク上に保存いたします。しかしながら、当社は、これらの完全な安全性、信頼性等を保証するものではなく、保存された登録情報及び端末情報等その他の消失に起因して生じた損害につき、賠償する責任を一切負わないものとします。</li>
                <li>7.当社は、原則として、ユーザー間の通信や活動に関与しません。万一ユーザー間で紛争や問題が生じた場合、ユーザーは、直ちにその旨を当社に通知するとともに、自己の責任と費用においてこれを解決するものとし、当社はこれに一切関与せず、何ら責任を負わないものとします。</li>
                <li>8.本サービスに関し、ユーザーと第三者との間で紛争が生じた場合、ユーザーは、直ちにその旨を当社に通知するとともに、自己の責任と費用においてこれを解決するものとし、当社はこれに一切関与せず、何ら責任を負わないものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第１９条 （有効期間）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>サービス利用契約は、本サービスの提供期間中であって、別途当社が定めるコースに応じて定められた受講期間の満了日までの間、当社とユーザーとの間で有効に存続するものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第２０条 （規約改訂）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>当社は、本規約及び本サービスに関する個別利用規約の内容を変更又は追加できるものとします。当社は、本規約又は個別利用規約を変更した場合には、次条に定める方法により、ユーザーに当該変更内容を通知するものとし、当該変更内容の通知後、ユーザーが本サービスを利用した場合又は当社の定める期間内に利用終了の手続をとらなかった場合には、ユーザーは、本規約及び本サービスに関する個別利用規約の変更に同意したものとみなします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第２１条 （本規約上の地位の譲渡等）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第２２条 （レッスンの予約）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>1.ユーザーは、当社の書面による事前の承諾なく、サービス利用契約上の地位又は本規約に基づく権利義務の全部又は一部を、第三者に譲渡（合併、会社分割等による包括承継も含みます。）し又は担保の目的に供することはできません。</li>
                <li>2.当社が本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴いサービス利用契約上の地位、権利及び義務並びに登録情報その他の顧客情報を当該事業譲渡の譲受人に譲渡できるものとし、ユーザーは、かかる譲渡につき本項において予め同意したものとみなします。本項にいう事業譲渡には、当社が消滅会社又は分割会社となる合併又は会社分割等による包括承継を含むものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第２３条 （分離可能性）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定、及びその一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有し、当社及びユーザーは、当該無効若しくは執行不能の条項又は部分を適法とし、執行力をもたせるために必要な範囲で修正し、当該無効若しくは執行不能な条項又は部分の趣旨並びに法律的及び経済的に同等の効果を確保できるように努めるものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第２４条 （存続規定）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>第１１条、第１４条、第１６条乃至第１８条、第２２条乃至第２６条の規定は、本契約の終了後も有効に存続するものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第２５条 （準拠法及び合意管轄）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>本規約は日本法に準拠するものとし、本規約に起因し又は関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">第２６条 （協議解決）</dt>
            <dd class="p-other__contentsText u-mb0">
              <ol>
                <li>当社及びユーザーは、本規約に定めのない事項又は本規約の解釈に疑義が生じた場合には、互いに信義誠実の原則に従って協議の上速やかに解決を図るものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
      </ol>
    </dd>
  </dl>
</div>
<% include ../template/_footer %>