<%
  var title = "会社概要 | AI Academy";
  var type = "article";
  var page = { name:'' };
  var root = config.root;

 %>
<% include ../template/_head %>
<div class="p-other">
  <dl class="p-other__block">
    <dt class="p-other__mainTitle c-font-weight--700">会社概要</dt>
    <dd class="p-other__underline"></dd>
    <dd>
      <ul class="p-other__contentsWrap">
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">会社名</dt>
            <dd class="p-other__contentsText">サイバーブレイン株式会社 <span class="u-inlineBlock">/ CyberBrain Inc.</span></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">設立</dt>
            <dd class="p-other__contentsText">2016年4月</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">代表取締役</dt>
            <dd class="p-other__contentsText">谷 一徳</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">事業内容</dt>
            <dd class="p-other__contentsText">AIエンジニア教育事業</dd>
          </dl>
        </li>
      </ul>
    </dd>
  </dl>
</div>
<% include ../template/_footer %>