<%
  var title = "Thanks!! | AI Academy";
  var type = "article";
  var page = { name:'thanks' };
  var root = config.root;
 %>
<% include ../template/_head %>

<div class="p-other">
  <dl class="p-other__block">
    <dt class="thanks_dt">THANK YOU !!</dt>
    <dd class="p-other__underline"></dd>
    <dd class="thanks_dd">
      ありがとうございます！担当者より３営業日以内に返信させていただきます。<br>
      ３営業日過ぎても返信がない場合は、お手数ですが再度お問い合わせください。
    </dd>
  </dl>
</div>
<% include ../template/_footer %>