<%
  var title = "提携企業•団体 | AI Academy";
  var type = "article";
  var page = { name:'' };
  var root = config.root;

 %>
<% include ../template/_head %>
<div class="p-other">
  <dl class="p-other__block">
    <dt class="p-other__mainTitle c-font-weight--700">提携企業•団体</dt>
    <dd class="p-other__underline"></dd>
    <dd class="p-other__allianceImage"><img src="<%- root %>assets/img/logo_alliance_neetAI.png" alt="neetAI"></dd>
  </dl>
</div>
<% include ../template/_footer %>