<%
  var title = "プライバシーポリシー | AI Academy";
  var type = "article";
  var page = { name:'' };
  var root = config.root;

 %>
<% include ../template/_head %>
<div class="p-other">
  <dl class="p-other__block">
    <dt class="p-other__mainTitle c-font-weight--700">プライバシーポリシー<span class="u-inlineBlock">（個人情報保護方針）</span></dt>
    <dd class="p-other__underline"></dd>
    <dd>
      <p class="p-other__contentsText">この規約（以下「本規約」といいます。）は、サイバーブレイン株式会社（以下「当社」といいます。）が提供するオンラインプログラミングレッスン「AI Academy」の利用に関して、ユーザーに同意していただく必要のある事柄を記載しています。ユーザーが本サービスをご利用になる際には、本規約が適用されます。なお、本規約については、ユーザーが会員登録した時点で同意されたものとさせていただきますので、ご利用の前に必ずお読みください。</p>
      <ol class="p-other__contentsWrap">
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">1. 個人情報</dt>
            <dd class="p-other__contentsText">
              <ol>
                <li>個人情報とは、氏名、性別、生年月日、住所、電話番号、メールアドレス等の情報により個人を識別できる情報をいいます。 また、その情報のみでは識別できない場合でも、他の情報と容易に照合することができ、結果的に個人を識別できるものも個人情報に含まれます。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">2. 個人情報の収集</dt>
            <dd class="p-other__contentsText">
              <ol>
                <li>当ポリシーにおいて、当社が収集する個人情報とは、ユーザーが当社のウェブサイト（以下、「当サイト」という）にてご入力される情報、その他サービスに関連してご提供いただく情報を指します。 講義中に、または講義外で講師と個人的に接触した時に、ユーザーが自発的にご提供された情報については、当社が収集した情報とはみなしません。（第9条ご参照） 当社が収集するその他の情報に、ユーザーの当サイトへのアクセス履歴（以下、「ユーザーのアクセス履歴」という）があります。 当社のウェブサーバー上では、ユーザーのアクセス履歴についてIPアドレス等の情報が記録されますが、当社はこれを異常なアクセスの監視やサービス改善等のために利用いたします。 当該情報は、ユーザーの事前のご同意なしに第三者に公開されることはございません。 また、当サイトではログイン状態を管理する目的でCookieという技術を用いますが、個人を特定するデータは含まれていません。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">3. 個人情報の利用目的</dt>
            <dd class="p-other__contentsText">
              <p>当社は、取得した個人情報を以下の目的のために利用させていただきます。</p>
              <ol>
                <li>（1）サービスのご提供とサービスのご案内を差し上げるため</li>
                <li>（2）サービスに係る情報（ニュースレター、キャンペーン情報、アンケート等）配信のため</li>
                <li>（3）当社が提供するその他のサービスに関する情報配信のため</li>
                <li>（4）サービスに関するご意見・お問い合わせの正確な把握、それらへの回答のため</li>
                <li>（5）顧客動向の分析、サービス開発等の調査分析のため</li>
                <li>（6）ユーザーからの個人情報の開示等のお求めに応じる場合に必要な当該ユーザーのご本人確認のため（第8条ご参照）</li>
                <li>（7）災害等の緊急事態が発生した際の連絡・対応のため</li>
                <li>（8）サービスご利用料金の精算、遅延金等の回収のため 当社は、当ポリシーに記載した以外の用途で個人情報をやむをえず利用する場合、ユーザーの事前のご同意を求めるものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">4. 個人情報の保護および管理</dt>
            <dd class="p-other__contentsText">
              <p>当社は、個人情報の取扱いについて、その重要性を深く認識し、ユーザーの個人情報に関する権利を保証するために、当社の情報セキュリティーポリシーに基づき当ポリシーを定め、以下の事項を実施いたします。</p>
              <ol>
                <li>（1）個人情報保護法および関係法令を遵守いたします。</li>
                <li>（2）個人情報の漏洩、滅失、毀損または改ざん等のリスクを防止するため、技術面および組織面において合理的な安全対策を実施いたします。</li>
                <li>（3）個人情報の取扱いに関するお問い合わせに対して、専用の窓口を設けて迅速かつ誠実に対応し、その解決にあたります。</li>
                <li>（4）個人情報の適切な取扱いを徹底するため、当社の情報セキュリティー体制を定期的に見直し、継続的に改善いたします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">5. 個人情報の第三者への委託・提供・共有 当社は、原則として、ユーザーの事前の同意を得ずに個人情報を第三者に委託、提供または共有いたしません。 ただし、以下の場合を除きます。 </dt>
            <dd class="p-other__contentsText">
              <ol>
                <li>（1） 個人情報の保護に関する法律第23条第1項に規定する制限がある場合</li>
                <li>（2） ユーザーの利用規約違反行為に対して法的な措置を含む必要な措置をとる場合</li>
                <li>（3） 法令に基づき、裁判所の令状または警察等の公的機関の有効な命令により開示を求められた場合</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">6. 個人情報の正確性</dt>
            <dd class="p-other__contentsText">
              <ol>
                <li>個人情報は、ご提供いただく時点での内容が正確かつ最新であることについて、ユーザーが責任を負うものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">7. 個人情報の変更・削除</dt>
            <dd class="p-other__contentsText">
              <ol>
                <li>当社は、ユーザーの個人情報を許可なく変更いたしません。 ユーザーからサービスのご利用停止をお申出いただいた場合には、それ以降、当該ユーザーの個人情報の利用を停止いたします。 ユーザーが個人情報の削除をご希望される場合には、当社所定の手続きに従い当社にご連絡ください。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">8. 個人情報の開示</dt>
            <dd class="p-other__contentsText">
              <p>当社は、ユーザーご本人より当該本人の個人情報の開示を求められた場合には、遅滞なく応じます。ただし、以下の場合は、その全部または一部を開示しない場合があります。</p>
              <ol>
                <li>(1)ユーザーご本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合</li>
                <li>(2)当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合</li>
                <li>(3)他の法令に違反するおそれがある場合</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">9. 免責</dt>
            <dd class="p-other__contentsText">
              <ol>
                <li>当ポリシー第2条（個人情報の収集）に定めるとおり、ユーザーが講師に対して個人的に提供した情報は、当社が収集した個人情報ではありませんので、当ポリシーで保護・管理する対象の個人情報に該当いたしません。 よって、それらの情報のいかなる漏洩・流出等についても、当社は一切の責任を負いません。</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt class="p-other__contentsTitle c-font-weight--700">10. プライバシーポリシーの変更</dt>
            <dd class="p-other__contentsText">
              <ol>
                <li>法令等で定めがある場合を除き、当社は、ユーザーの事前ご承諾を得ることなく、当サイト上に公示することで当ポリシーを適宜変更できるものとします。</li>
              </ol>
            </dd>
          </dl>
        </li>
      </ol>
    </dd>
  </dl>
</div>
<% include ../template/_footer %>